<mj-wrapper background-color="#fff">
  <mj-section padding-top="0">
    <mj-column
      width="50%"
      vertical-align="middle"
      padding-right="5px"
      padding-top="10px"
    >
      <mj-image
        href="https://invivotech.ru/vieworks/"
        border-radius="8px"
        border="1px solid #ccc"
        href="https://labanimalsjournal.ru"
        width="300px"
        src="https://labanimalsjournal.ru/mailing/vieworks.png"
      />
    </mj-column>
    <mj-column
      width="50%"
      vertical-align="middle"
      padding-right="5px"
      padding-top="10px"
    >
      <mj-image
        border-radius="8px"
        border="1px solid #ccc"
        href="https://invivotech.ru/tehnologiya-p-chip/"
        width="300px"
        src="https://labanimalsjournal.ru/mailing/pharmaseq.png"
      />
    </mj-column>
  </mj-section>
</mj-wrapper>
