<!-- Footer -->
<mj-wrapper background-color="#68593C" border-radius="0 0 20px 20px" padding="15px 0 25px 0">
	<mj-section>
		<mj-column>
			<mj-text align="center" padding-bottom="10px" font-size="16px" color="#fff" font-weight="bold">
				Журнал <br>«Лабораторные животные для научных исследований»
			</mj-text>
			<mj-text align="center" padding-bottom="3px" color="#eee">Адрес редакции<br>
				188663, Ленинградская обл., Всеволожский р-н,
				<br>п. Кузьмоловский,
				ул. Заводская, д. 3, к. 245
			</mj-text>
			<mj-text align="center" padding-bottom="3px" color="#eee">•</mj-text>
			<mj-text align="center" color="#eee" padding-bottom="3px">Тел.: +7 (812)
				603-74-28</mj-text>
			<mj-text align="center" color="#eee" padding-bottom="3px">E-mail: info@labanimalsjournal.ru</mj-text>
			<mj-text align="center" color="#eee"><a class="underlined" href="https://vk.com/club176487100">Группа ВКонтакте</a></mj-text>
		</mj-column>
	</mj-section>
</mj-wrapper>
<!-- End Footer -->
