<!-- Header -->
<mj-section background-color="#31261D" border-radius="20px 20px 0 0">
	<mj-column width="80%" vertical-align="middle">
		<mj-image href="https://labanimalsjournal.ru" width="300px" src="https://labanimalsjournal.ru/mailing/logo.png" />
	</mj-column>
	<mj-column width="80%" vertical-align="middle">
		<mj-divider padding="12px 0 12px 0" border-width="1px" border-style="solid" border-color="#ddd" />
		<mj-text align="center" color="white" padding-bottom="8px">Научно-практический журнал</mj-text>
		<mj-text align="center" color="white">eISSN 2618723X • DOI 10.29296/2618723X</mj-text>
	</mj-column>
</mj-section>
<!-- End Header -->
