<mj-column padding="0 4px 0 0">
	<mj-image href="https://www.facebook.com/zhivotnovodstvo"
		src="images/social_icons/facebook-rounded-white.png" />
</mj-column>
<mj-column padding="0 4px 0 0">
	<mj-image href="https://www.instagram.com/zhivotnovodstvo_rossii/"
		src="images/social_icons/instagram-rounded-white.png" />
</mj-column>
<mj-column padding="0 4px 0 0">
	<mj-image href="https://t.me/tgzzr" src="images/social_icons/telegram-rounded-white.png" />
</mj-column>
<mj-column padding="0 4px 0 0">
	<mj-image href="https://vk.com/zzr_ru" src="images/social_icons/vk-rounded-white.png" />
</mj-column>
